# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
src/github.com/derekparker/delve/
src/github.com/golang/lint/
src/github.com/golang/protobuf/
src/github.com/golang/tools/
src/github.com/gorilla/websocket/
src/github.com/lukehoban/go-find-references/
src/github.com/lukehoban/go-outline/
src/github.com/lukehoban/ident/
src/sourcegraph.com/sqs/goreturns/
src/golang.org/x/tools/
src/gopkg.in/mgo.v2/
src/github.com/tpng/gopkgs/
src/golang.org/x/lint/
src/github.com/rogpeppe/godef/
src/github.com/nsf/gocode/
src/github.com/newhook/go-symbols/
src/github.com/sqs/goreturns/
src/github.com/go-sql-driver/mysql/
src/github.com/acroca/go-symbols/
src/github.com/ianthehat/godef/
src/github.com/karrick/godirwalk/
src/github.com/mdempsky/gocode/
src/github.com/pkg/errors/
src/github.com/ramya-rao-a/go-outline/
src/github.com/stamblerre/gocode/
src/github.com/uudashr/gopkgs/
src/server/debug
src/server/debug
src/github.com/anacrolix/missinggo/
src/github.com/anacrolix/sync/
src/github.com/anacrolix/utp/
src/github.com/docker/libkv/
src/github.com/coreos/etcd/
src/github.com/hashicorp/consul/
src/github.com/samuel/go-zookeeper/
src/github.com/huandu/xstrings/
src/github.com/edwingeng/doublejump/
src/github.com/dgryski/go-jump/
src/github.com/smallnest/rpcx/
src/github.com/grandcat/zeroconf/
src/github.com/cenkalti/backoff/
src/github.com/miekg/dns/
src/github.com/hashicorp/errwrap/
src/github.com/hashicorp/go-multierror/
src/github.com/juju/ratelimit/
src/github.com/marten-seemann/quic-conn/
src/github.com/lucas-clemente/quic-go/
src/git.apache.org/thrift.git/
src/github.com/facebookgo/clock/
src/github.com/fatih/color/
src/github.com/hashicorp/golang-lru/
src/github.com/rubyist/circuitbreaker/
src/github.com/rcrowley/go-metrics/
src/github.com/julienschmidt/httprouter/
src/github.com/cenk/backoff/
src/github.com/gogo/protobuf/
src/github.com/soheilhy/cmux/
src/github.com/vmihailenco/msgpack/
src/github.com/xtaci/kcp-go/
src/github.com/u35s/rudp/
src/github.com/tjfoc/gmsm/
src/github.com/templexxx/xor/
src/github.com/templexxx/cpufeat/
src/github.com/klauspost/reedsolomon/
src/github.com/klauspost/cpuid/
src/github.com/vrischmann/go-metrics-influxdb/
src/github.com/valyala/fastrand/
src/github.com/tatsushid/go-fastping/
src/github.com/influxdata/influxdb/
